<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" 
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>INDEX</title>
    </head>
    <body>
        <h1>TEST</h1>
        <form action="/process" method="POST">
            <label for="fname">First name</label>
            <input type="text" name="first_name" id="fname" placeholder="First name here">
            <label for="lname">Last name</label>
            <input type="text" name="last_name" id="lname" placeholder="Last name here">
            <input type="submit">
        </form>
    </body>
</html>